.page-header
  %h1.tac Sign up
-if @nickname
  //%span.tac= "Welcome #{@nickname}! Let's get you signed up shall we..."
  //%br
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "devise form-horizontal"}) do |f|
  = devise_error_messages!
  %fieldset
    .control-group
      .controls
        = f.email_field :email, :placeholder => "Enter Email"
    .control-group
      .controls
        = f.password_field :password, :placeholder => "Enter Password"
    .control-group
      .controls
        = f.password_field :password_confirmation, :placeholder => "Repeat Password"
  = f.submit "Sign up", {:class => "btn btn-large btn-primary"}
  %span
    %span.or or
    = link_to "Sign in", new_session_path(resource_name)
  %br
  %br
  = render :partial => "devise/links", :locals => {:hide_sign_up => true, :hide_sign_in => true, :hide_forgot_password => true}