#search_results_design3
  -if full_recipes.length > 0 then
    %table.table.table-striped
      %thead
        %tr
          %th.tal
            = sortable "title", "Title"
            .asc.dn
            .desc.dn
          %th
          %th
            %a.icon-eye-open{:href => "#", :rel => "tooltip", :title => "Views"}
          %th
            %a.icon-star{:href => "#", :rel => "tooltip", :title => "Favorites"}
          %th
            %a.icon-heart{:href => "#", :rel => "tooltip", :title => "Likes"}
          %th.tal
            = sortable "rating_avg", "Rating"
            .asc.dn
            .desc.dn
          %th.tal
            = sortable "rating_count", "Popularity"
            .asc.dn
            .desc.dn
      %tbody
        -full_recipes.each do |full_recipe|
          - @creator = full_recipe[:recipe_creator]
          - @recipe_user = full_recipe[:recipe_user]
          - @the_recipe = full_recipe[:recipe]
          - num_starred = full_recipe[:num_starred]
          - num_liked = full_recipe[:num_liked]
          %tr
            %td.tal
              = link_to(@the_recipe.title, @the_recipe, :class => "recipe_title")
              .ingredient_list
                -full_recipe[:ingredients].each_with_index do |i, index|
                  %span{:class => "in_lc_#{i[:in_liquor_cabinet]}"}=i[:ingredient]
                  -if index < full_recipe[:ingredients].size - 1
                    ,
            %td.wsnw
              .photos
                -full_recipe[:recipe_photos].each_with_index do |photo,index|
                  -if index < 3
                    =image_tag(photo.photo.url(:icon), :class => "icon")
            %td.num.view_count
              %a{:href => "#", :rel => "tooltip", :title => "#{pluralize(@the_recipe.view_count, 'view')}"}= @the_recipe.view_count ||= 0
            %td.num.starred
              %a{:href => "#", :rel => "tooltip", :title => "#{pluralize(num_starred, 'favorite')}"}= num_starred ||= 0
            %td.num.liked
              %a{:href => "#", :rel => "tooltip", :title => "#{pluralize(num_liked, 'likes')}"}= num_liked ||= 0
            %td.tal
              =render :partial => 'recipes/rating_links_small'
            %td.tal
              - percent = ((@the_recipe.rating_count.to_f/total_ratings)).to_f.round(3)*100*3 #ignoring for now the fact that this is SUPER gross and should be in the controller
              - percent = percent.nan? ? 4 : percent
              - percent = percent > 100 ? 100 : percent
              - percent = percent < 4 ? 4 : percent
              .popularity{:style => "width:#{percent}%"}
    //= will_paginate full_recipes
  -else
    %h2 No results found!
