#search_results
  -if @recipes.length > 0 then
    %table.table.table-striped
      %thead
        %tr
          %th.tal= "Title"
          %th.tal= "Rating"
          %th.tal= "Rating Count"
          %th.tal= "Favorite"
      %tbody
        -@recipes.each do |recipe|
          -if @recipe_users != nil
            - @recipe_user = @recipe_users.detect {|ru| ru.recipe_id == recipe.id }
          - @the_recipe = recipe
          %tr
            %td.tal= link_to(recipe.title, recipe)
            %td.tal
              =render :partial => 'recipes/rating_links_small'
            %td.tal= recipe.rating_count
            %td
              %a{:href => "/favorite?recipe_id=#{recipe.id}"}
                -if @recipe_user != nil && @recipe_user.starred
                  Yup
                -else
                  .notFavorite
                    Nope
  = will_paginate @recipes
