-@pageTitle = "Cocktail Recipes - Search Results"

-if @title
    %h2= @title
    %br
-if @q
    %div Searched for recipes with string: "#{@q}"
-if @spirit
    %div Searched for recipes with spirit: "#{@spirit}"
-if !@searched_ingredients.empty?
    %div Searched for recipes with ingredients: "#{@searched_ingredients}"

= render :partial => '/search/search_results_table'