-@pageTitle = "Cocktail Recipes - Search Results"

.page-header
    %h1
        -if @title
            = @title
        -else
            -word = @spirit != nil ? @spirit.capitalize : "All"
            #{word} cocktails
            %small
                -if @searched_ingredients != nil && !@searched_ingredients.empty?
                    with ingredients:
                    -@searched_ingredients.each do |i|
                        =i
                -elsif @q
                    -word = "word"
                    -if @q.include? " "
                        -word = "words"
                    with the #{word}: #{@q}
= render :partial => '/search/search_results_table', :locals => {:recipes => @recipes, :recipe_users => @recipe_users, :total_ratings => @total_ratings}