-if recipe_photos.length > 0
    #gallery.content
        #controls.controls
        .slideshow-container
            #loading.loader
            #slideshow.slideshow
        #caption.caption-container
    #thumbs.navigation
        %ul.thumbs.noscript
            -recipe_photos.each do |p|
                %li
                    %a.thumb{:href => p.photo.url(:large), :name => "#{p.id}", :title => "your image title"}
                        =image_tag p.photo.url(:thumb), :alt => "your image title"
                    .caption
                        %input.disqus_identifier{:type => "hidden", :value => "#{p.recipe_id}" + "_" + "#{p.id}"}
                        %input.disqus_url{:type => "hidden", :value => "http://127.0.0.1:3000/recipes/" + "#{p.recipe_id}" + "/photos/" + "#{p.id}"}