%a{:href => "/rate?recipe_id=#{@recipe.id}&rating=1"} 1
%a{:href => "/rate?recipe_id=#{@recipe.id}&rating=2"} 2
%a{:href => "/rate?recipe_id=#{@recipe.id}&rating=3"} 3
%a{:href => "/rate?recipe_id=#{@recipe.id}&rating=4"} 4
%a{:href => "/rate?recipe_id=#{@recipe.id}&rating=5"} 5