#recipe_actions.well.span2.pull-right.wsnw
	=render :partial => '/recipes/favorite', :locals => {:recipe_id => @recipe.id, :include_text => true}
	%div
		%i.icon-list-alt
		%a.showFullPageView{:href => "#"} Full Page View
	%i.icon-picture
	%a{:href => "/recipes/uploadphoto?id=#{@recipe.id}"} Add Photo
	%br
	%i.icon-print
	%a{:href => "#"} Print
	%hr
	=render :partial => '/widgets/facebook', :locals => {:href => "http://www.blahcocktails.com/recipe/#{@recipe.id}"}
	.social
		=render :partial => '/widgets/twitter'
=render :partial => '/recipes/rating_links'
=render :partial => '/widgets/vote_tastes'
%br
%br
-if @ingredients.size > 0
	%h3.ingredients_heading Ingredients
	%ul.recipe_ingredients
		- @ingredients.each do |ingredient|
			=render :partial => '/recipes/ingredient', :locals => {:ingredient => ingredient}
%br
.directions
	%h3 Directions
	= @recipe.directions
%br
-if @recipe.alcohol != ""
	.alcohol_percent
		%b Alcohol Percent:
		= @recipe.alcohol
-if @recipe.glass != ""
	.serve_in
		%b Serve in:
		= @recipe.glass