-like_disabled = recipe_user && recipe_user.liked ? "disabled" : ""
-save_disabled = recipe_user && recipe_user.starred ? "disabled" : ""
.recipe_social
    .btn-group.share
        %a.btn{:href => "#", "data-backdrop" => "false", "data-toggle" => "modal", "data-target" => ".recipe_share", "data-href" => "/recipes/#{recipe.id}/share"}
            %i.icon-share.fl
            %span.fl Share
        %a.btn
            = num_shared
    .btn-group.like
        %a.btn{"data-href" => "/recipes/#{recipe.id}/like", :class => like_disabled}
            %i.icon-heart.fl
            %span.fl= like_disabled == "disabled" ? "Liked" : "Like"
        %a.btn{:href => "#", :title => "See who liked this", :class => like_disabled}
            = num_liked
    .btn-group.save
        %a.btn{"data-href" => "/recipes/#{recipe.id}/favorite", :class => save_disabled}
            %i.icon-star.fl
            %span.fl= save_disabled == "disabled" ? "Saved" : "Save"
        %a.btn{:href => "#", :title => "See who saved this", :class => save_disabled}
            = num_saved
.recipe_share.modal.lightbox.hide
    .lb_container
        .modal-header
            %button.close{:type => "button", "data-dismiss" => "modal"} ×
            %h3 Share this cocktail!
        .modal-body
            %span.fl Click to share:
            %ul.dib.color.socialicons
                %li
                    %a.facebook
                    %a.gpluslight{"data-href" => "https://plus.google.com/share?url=http://127.0.0.1/recipes/#{@recipe.id}"}
                    %a.twitter{:href => "https://twitter.com/intent/tweet?text=Check out this great recipe! #{recipe.title}"}
                    %a.stumbleupon{:href => "http://www.stumbleupon.com/submit?url=http://127.0.0.1:3000/recipes/#{@recipe.id}"}
                    %a.delicious
                    -if photo_url != nil
                        %a.pinterest{"data-href" => "http://pinterest.com/pin/create/button/?url=http://127.0.0.1/recipes/#{@recipe.id}&media=#{photo_url}&description=#{recipe.title}"}
                    %a.email