-like_disabled = recipe_user && recipe_user.liked ? "disabled" : ""
-save_disabled = recipe_user && recipe_user.starred ? "disabled" : ""
.recipe_social
    .btn-group.share
        %a.btn{:href => "#", "data-toggle" => "modal", "data-target" => ".recipe_share", "data-href" => "/recipes/#{recipe_id}/share"}
            %i.icon-share.fl
            %span.fl Share
        %a.btn
            = num_shared
    .btn-group.like
        %a.btn{"data-href" => "/recipes/#{recipe_id}/like", :class => like_disabled}
            %i.icon-heart.fl
            %span.fl= like_disabled == "disabled" ? "Liked" : "Like"
        %a.btn{:href => "#", :title => "See who liked this", :class => like_disabled}
            = num_liked
    .btn-group.save
        %a.btn{"data-href" => "/recipes/#{recipe_id}/favorite", :class => save_disabled}
            %i.icon-star.fl
            %span.fl= save_disabled == "disabled" ? "Saved" : "Save"
        %a.btn{:href => "#", :title => "See who saved this", :class => save_disabled}
            = num_saved
.recipe_share.modal.hide
    .modal-header
        %button.close{:type => "button", "data-dismiss" => "modal"} ×
        %h3 Share this cocktail!
    .modal-body
        %span.fl Click to share:
        %ul.dib.color.socialicons
            %li
                %a.facebook
                %a.twitter
                %a.stumbleupon
                %a.delicious
                %a.blogger
                %a.rss
                %a.pinterest
                %a.email
