-@pageTitle = "Cocktails"

.row-fluid
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#popular_recipes", "data-toggle" => "tab"}
        =render :partial => '/icons/popular'
        Popular Recipes
    %li
      %a{:href => "#new_recipes", "data-toggle" => "tab"}
        =render :partial => '/icons/new'
        New
    -if user_signed_in?
      %li
        %a{:href => "#liked_recipes", "data-toggle" => "tab"}
          =render :partial => '/icons/like'
          Liked
      %li
        %a{:href => "#disliked_recipes", "data-toggle" => "tab"}
          =render :partial => '/icons/dislike'
          Disliked
      %li
        %a{:href => "#favorited_recipes", "data-toggle" => "tab"}
          =render :partial => '/icons/favorite'
          Favorited
      %li
        %a{:href => "#created_recipes", "data-toggle" => "tab"}
          =render :partial => '/icons/create'
          Created
  .tab-content
    .tab-pane.fade.in.active#popular_recipes
      = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_popular}
    .tab-pane.fade.in#new_recipes
      = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_new}
    -if user_signed_in?
      .tab-pane.fade.in#liked_recipes
        = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_liked}
      .tab-pane.fade.in#disliked_recipes
        = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_disliked}
      .tab-pane.fade.in#favorited_recipes
        = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_favorited}
      .tab-pane.fade.in#created_recipes
        = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_created}