-@pageTitle = "Profile"

.page-header.profile
    -if @is_current_user
        %a.gravatar{:href => "http://gravatar.com/emails/", :rel => "tooltip", "data-placement" => "bottom", "data-original-title" => "Change your avatar at gravatar.com"}
            %img.avatar_large{"data-email" => @user.email}
    -else
        %img.avatar_large.gravatar{"data-email" => @user.email}
    .top_details.span5
        %h1
            = @user.name
            %small=@user.location
        %a.url{:href => @user.url}=@user.url
        .expandable.header_details.muted=@user.about_me
        =render :partial => '/users/follow_btn', :locals => {:is_following => @is_following, :user_id => @user.id}
    .stats
        %a.left{:rel => "tooltip", "data-placement" => "bottom", "data-original-title" => "Number of Followers"}
            %span
                %strong.followers= round_k @follower_users.size
                Followers
        %a.middle{:rel => "tooltip", "data-placement" => "bottom", "data-original-title" => "Number of Liked [Created] Recipes"}
            %span
                %strong= round_k @num_liked
                Likes
        %a.right{:rel => "tooltip", "data-placement" => "bottom", "data-original-title" => "Number of Disliked [Created] Recipes"}
            %span
                %strong= round_k @num_disliked
                Dislikes
    .cb
.profile_tabs
    .tabbable.tabs-left
        %ul.nav.nav-tabs.span2
            %li.active
                %a{:href => "#recipes_tab", "data-toggle" => "tab"}
                    =render :partial => '/icons/create'
                    Created Recipes
                    %span.muted.fr=@full_recipes_created.size
            %li
                %a{:href => "#favorites_tab", "data-toggle" => "tab"}
                    =render :partial => '/icons/favorite'
                    Favorites
                    %span.muted.fr=@full_recipes_favorites.size
            %li
                %a{:href => "#liked_tab", "data-toggle" => "tab"}
                    =render :partial => '/icons/like'
                    Liked
                    %span.muted.fr=@full_recipes_liked.size
            %li
                %a{:href => "#disliked_tab", "data-toggle" => "tab"}
                    =render :partial => '/icons/dislike'
                    Disliked
                    %span.muted.fr=@full_recipes_disliked.size
            %li
                %a{:href => "#photos_tab", "data-toggle" => "tab"}
                    =render :partial => '/icons/photo'
                    Photos
                    %span.muted.fr=@photos.size
            %li
                %a{:href => "#following_tab", "data-toggle" => "tab"}
                    =render :partial => '/icons/follow'
                    Following
                    %span.muted.fr=@following_users.size
            %li
                %a{:href => "#cabinet_tab", "data-toggle" => "tab"}
                    =render :partial => '/icons/cabinet'
                    Liquor Cabinet
                    %span.muted.fr=@lc_ingredients.size
        .tab-content.span10
            #recipes_tab.tab-pane.fade.in.active
                %h2 Created Recipes
                %hr
                = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_created, :hide_no_results_msg => true}
                -if @full_recipes_created.length == 0
                    %h2
                        -if @is_current_user
                            You haven't created any recipes!
                            %a{:href => new_recipe_path} Create one now!
                        -else
                            =render :partial => 'users/user_name', :locals => {:user => @user}
                            hasn't created any recipes!
                            %br
                            %small
                                Show them how it's done and
                                %a{:href => new_recipe_path} create one now!
            #favorites_tab.tab-pane.fade.in
                %h2 Favorite Recipes
                %hr
                = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_favorites, :hide_no_results_msg => true}
                -if @full_recipes_favorites.length == 0
                    %h2
                        -if @is_current_user
                            You haven't favorited any recipes!
                            -small_msg = "to view some popular recipes. Find some you love and favorite away!"
                        -else
                            =render :partial => 'users/user_name', :locals => {:user => @user}
                            hasn't favorited any recipes!
                            -small_msg = "to view some popular recipes, favorite away, and show them how it's done!"
                        %br
                        %small
                            %a{:href => recipes_popular_path} Click here
                            =small_msg
            #liked_tab.tab-pane.fade.in
                %h2 Liked Recipes
                %hr
                = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_liked, :hide_no_results_msg => true}
                -if @full_recipes_liked.length == 0
                    %h2
                        -if @is_current_user
                            You haven't liked any recipes!
                            -small_msg = "to view some popular recipes. Find some you love and like away!"
                        -else
                            =render :partial => 'users/user_name', :locals => {:user => @user}
                            hasn't liked any recipes!
                            -small_msg = "to view some popular recipes, like away, and show them how it's done!"
                        %br
                        %small
                            %a{:href => recipes_popular_path} Click here
                            =small_msg
                    %br
                    %h3
                        %small
                            p.s. To rate a recipe, simply click on the star that you think a given recipe deserves!
                            %br
                            Try it here:
            #disliked_tab.tab-pane.fade.in
                %h2 Disliked Recipes
                %hr
                = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_disliked, :hide_no_results_msg => true}
                -if @full_recipes_disliked.length == 0
                    %h2
                        -if @is_current_user
                            You haven't disliked any recipes!
                            -small_msg = "to view some popular recipes. Find some you hate and dislike away!"
                        -else
                            =render :partial => 'users/user_name', :locals => {:user => @user}
                            hasn't disliked any recipes!
                            -small_msg = "to view some popular recipes, dislike away, and show them how it's done!"
                        %br
                        %small
                            %a{:href => recipes_popular_path} Click here
                            =small_msg
                    %br
                    %h3
                        %small
                            p.s. To rate a recipe, simply click on the star that you think a given recipe deserves!
                            %br
                            Try it here:
            #photos_tab.tab-pane.fade.in
                %h2 Uploaded Photos
                %hr
                =render :partial => 'widgets/photos', :locals => {:photos => @photos, :is_recipe => true}
            #following_tab.tab-pane.fade.in
                %h2 Following
                %hr
                -@following_users.each do |f|
                    .follow_container
                        %a{:href => user_path(f)}
                            %img.fl.avatar_medium{"data-email" => f.email}
                        %span.tac=f.name
                        =render :partial => '/users/follow_btn', :locals => {:is_following => true, :user_id => f.id}
                -if @following_users.size == 0
                    %h2
                        -if @is_current_user
                            You're not following anyone!
                        -else
                            =render :partial => 'users/user_name', :locals => {:user => @user}
                            isn't following anyone!
                        %br
                        %small
                            %a{:href => recipes_new_path} Click here
                            to view new user-submitted recipes. Follow the users creating your favorites!
            #cabinet_tab.cabinet.tab-pane.fade.in
                %h2 Liquor Cabinet
                %hr
                =render :partial => '/recipes/liquor_cabinet', :locals => {:ingredients => @lc_ingredients, :editable => @is_current_user}
