-@pageTitle = @ingredient.ingredient

.page-header.profile
    -if @ingredient_photos.empty?
        %a.img_container.no_img.icon-lemon{:href => ingredient_upload_photo_path(@ingredient.id), "data-original-title" => "Add Photo", :rel => "tooltip", "data-placement" => "bottom"}
    -else
        %a.img_container{:href => "#", "data-toggle" => "modal", "data-target" => "#photos_modal"}
            = image_tag @ingredient_photos.first.photo.url(:thumb)
    .top_details.span5
        %h1.fl= @ingredient.ingredient
        =render :partial => '/users/cabinet_btn', :locals => {:in_cabinet => @in_cabinet, :ingredient_id => @ingredient.id}
    .stats
        %a.left{:rel => "tooltip", "data-placement" => "bottom", "data-original-title" => "Number of Cabinets"}
            %span
                %strong.cabinets= round_k @lc_count
                ="Cabinet".pluralize(@lc_count)
        %a.right{:rel => "tooltip", "data-placement" => "bottom", "data-original-title" => "Number of Recipes"}
            %span
                %strong= round_k @recipe_count
                ="Recipe".pluralize(@recipe_count)
    .cb
.profile_tabs
    .tabbable.tabs-left
        %ul.nav.nav-tabs.span2
            %li.active
                %a{:href => "#popular_recipes_tab", "data-toggle" => "tab"}
                    =render :partial => '/icons/popular'
                    Popular Recipes
                    %span.muted.fr= @full_recipes_popular.length
            %li
                %a{:href => "#new_recipes_tab", "data-toggle" => "tab"}
                    =render :partial => '/icons/new'
                    New Recipes
                    %span.muted.fr= @full_recipes_new.length
            %li.photos_tab
                %a{:href => "#photos_tab", "data-toggle" => "tab"}
                    =render :partial => '/icons/photo'
                    Photos
                    %span.muted.fr= @photos.size
            %li.comments_tab
                %a{:href => "#comments_tab", "data-toggle" => "tab"}
                    =render :partial => '/icons/comment'
                    Comments
                    %span.muted.fr 14
        .tab-content.span10
            #popular_recipes_tab.tab-pane.fade.in.active
                %h2
                    =render :partial => '/icons/popular'
                    Popular Recipes
                %hr
                = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_popular}
            #new_recipes_tab.tab-pane.fade.in
                %h2
                    =render :partial => '/icons/new'
                    New Recipes
                %hr
                = render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes_new}
            #photos_tab.photos_tab_content.tab-pane.fade.in
                %h2
                    =render :partial => '/icons/photo'
                    Uploaded Photos
                %hr
                =render :partial => 'widgets/photos', :locals => {:photos => @photos, :is_ingredient => true, :add_photo_url => ingredient_upload_photo_path(@ingredient.id)}
            #comments_tab.comments_tab_content.tab-pane.fade.in
                %h2
                    =render :partial => '/icons/comment'
                    Comments
                %hr
                %input.disqus_identifier{:type => "hidden", :value => "ing_#{@ingredient.id}"}
                %input.disqus_url{:type => "hidden", :value => ingredient_path(@ingredient)}
