.page-header
  %h1.tac Sign In
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "devise form-horizontal"}) do |f|
  %fieldset
    .control-group
      .controls
        = f.email_field :email, :placeholder => "Enter Email"
    .control-group
      .controls
        = f.password_field :password, :placeholder => "Enter Password"
    - if devise_mapping.rememberable?
      .control-group.remember_me
        %span.fl
          = f.check_box :remember_me, :class => "di remember_me"
          = f.label :remember_me, {:class => "checkbox remember_me di"}
        %span.fr= link_to "Forgot your password?", new_password_path(resource_name)
  = f.submit "Sign in", {:class => "btn btn-large btn-primary"}
  %span
    %span.or or
    = link_to "Sign up", new_registration_path(resource_name)
  %br
  %br
  = render :partial => "devise/links", :locals => {:hide_sign_up => true, :hide_forgot_password => true}