.navbar.navbar-fixed-top
    .navbar-inner
        .container-fluid
            %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            %a.brand{:href => "/"} Cocktail Recipes
            .nav-collapse
                -if !@hide_topnav_items
                    %ul.nav
                        %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                                Recipes
                                %b.caret
                            %ul.dropdown-menu
                                %li.nav-header Views
                                %li
                                    %a{:href => recipes_popular_path} Popular
                                %li
                                    %a{:href => recipes_new_path} Newly Added
                                -if user_signed_in?
                                    %li.divider
                                    %li.nav-header My Recipes
                                    %li
                                        %a{:href => recipes_favorites_path} Favorites
                                    %li
                                        %a{:href => recipes_rated_path} Rated
                                    %li
                                        %a{:href => recipes_created_path} Created
                                %li.divider
                                %li.nav-header Liquor Types
                                - default_spirits.each do |s|
                                    %li
                                        =link_to s, {:controller => "/search", :action => "search", :spirit => "#{s.downcase}"}
                        %li{:class => request.fullpath == '/about' ? "active" : ""}
                            %a{:href => "/about"} About
                        %li{:class => request.fullpath == '/contact' ? "active" : ""}
                            %a{:href => "/contact"} Contact
                    %form.navbar-search{:action => "/search", :method => :get}
                        %input.recipe_ac.search-query.span3{:placeholder => "Search for a cocktail", :type => "text", :name => "q", :value => @q}
                        %a.icon-search{:type => "submit", :href => "javascript:void(0);"}
                %ul.nav.pull-right
                    -if !@hide_topnav_items
                        %li
                            %a.btn.btn-small.btn-danger{:href => new_recipe_path} Add Recipe
                    - if user_signed_in?
                        %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                                = current_user.email
                                %b.caret
                            %ul.dropdown-menu
                                %li= link_to "Profile", user_profile_path(current_user.id)
                                %li= link_to "My Account", edit_user_registration_path
                                %li
                                    %a{:href => "/cabinet"} Liquor Cabinet
                                %li
                                    %a{:href => "/recipes/favorites"} Favorites
                                %li.divider
                                %li= link_to "Sign out", destroy_user_session_path, :method => :delete
                        %li.avatar
                            %a{:href => user_profile_path(current_user.id)}
                                %img.avatar_tiny{"data-email" => current_user.email}
                    - else
                        %li
                            %p.navbar-text
                                = link_to "Sign up", new_user_registration_path
                                or 
                                = link_to "Sign in", new_user_session_path