%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "Cocktails", :name => "description"}
        %meta{:content => "cocktails.com", :name => "author"}
        %meta{:content => "width=1024", :name => "viewport"}
        %title Cocktails | Cocktails.com
        = stylesheet_link_tag "application"
        = javascript_include_tag "application"
        %link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet' type='text/css')
        %script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
        %script{:src => "https://apis.google.com/js/plusone.js", :type => "text/javascript"}
    %body
        #fb-root
        :javascript
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        =render :partial => "layouts/top_navbar"
        .container-fluid
            .main-content.row-fluid
                -span_size = 12
                -if @display_search_sidebar
                    -search_span_size = 2
                    -span_size = span_size - search_span_size
                    %div{:class => "span#{search_span_size}"}
                        =render :partial => "layouts/search_sidebar"
                %div{:class => "span#{span_size}"}
                    =render :partial => "shared/flash_messages", :locals => {:flash => flash}
                    = yield
    %footer
        =render :partial => "layouts/footer"